<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Epi.WebSockets.Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
</appSettings>