<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=HW-PC\MSSQLSERVER2016;Database=dbEPiServerMITSloan;Integrated Security=True;Trusted_connection=true;Connect Timeout=30;;Max Pool Size=1000;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>