<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings httpCacheability="Public" httpCacheExpiration="0:0:0" httpCacheVaryByCustom="path" httpCacheVaryByParams="id,epslanguage" pageFolderVirtualPathProvider="SitePageFiles" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" urlRebaseKind="ToRootRelative" uiUrl="~/admui/CMS/" utilUrl="~/util/" uiEditorCssPaths="~/Static/Core/Editor/EditorSimple.css" />
  <tinyMCE mergedConfigurationProperties="valid_elements, extended_valid_elements, invalid_elements, valid_child_elements" />
</episerver>