  <episerver.search active="false">
    <namedIndexingServices defaultService="serviceName">
      <services>
        <!--<add name="serviceName" baseUri="http://localhost/IndexingService/IndexingService.svc" accessKey="local"/>-->
        <!--<add name="{serviceName}" baseUri="{indexingServiceBaseUri}" accessKey="{accessKey}"/>-->
      </services>
    </namedIndexingServices>
    <searchResultFilter defaultInclude="true">
      <providers/>
    </searchResultFilter>
  </episerver.search>