<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/master/styles")
    </head>
    <body class="container-fluid">
    <div class="body">
        @RenderBody()
    </div>

        @Scripts.Render("~/master/scripts")
    </body>
</html>